<div data-toggle="collapse" data-target="<%= '#collapseServices'%>" aria-expanded="false" aria-controls="collapseServices">
  <h4 role="button">Services</h4>
</div>
<div class="collapse" id="collapseServices">
  <table class="table table-hover table-sm">
    <tbody id="service-container">
      <%= f.fields_for :services, @contract.services do |ff|%>
        <%= render partial: 'service', locals: {ff: ff} %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to_add_fields("New services", f, 'services', 'contracts/service') %>
  </div>
</div>
