<% provide(:title, @user.fullname) %>

<div class="row justify-content-md-center pt-3">
  <div class="container">
    <div class="btn-group-vertical" role="group" aria-label="">

    </div>
  </div>
</div>
