<%= f.fields_for :contracts, @client.contracts do |ff|%>
  <div class="card" id="object-contract-<%= ff.object.id || "new" %>">
    <%= render partial: 'shared/colapse_header', locals: {ff: ff, id: ff.object.id || "new", class_name: 'contract' } %>
  </div>
<% end %>
